 a {
     color: #4682c5;
 }
 header {
    height: 44px;
    background-color: #ff841d;
    width: 100%;
    display: flex; // justify-content: space-between;
    .icon-l {
        text-align: center;
        width: 50px;
        height: 100%;
        color: #ffffff;
        font-size: 30px;
    }
    h1 {
        font-size: 20px;
        flex: 1;
        text-align: center;
        color: #fff;
        line-height: 44px;
        white-spacing: nowrap;
        text-overflow: elispse;
        overflow: hidden;
    }
    .xz {
        width: 50px;
        height: 44px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
 .content_title {
     border-bottom: 1px solid #e0e0e0;
     padding: 4px 10px;
     .title {
         padding: 4px 10px;
         background: #FFFFFF;
         h3 {
             font-size: 18px;
             margin: 10px auto 5px auto;
             font-weight: 800;
             text-align: left;
             text-align-last: left;
             word-break: break-all;
             color: #5a5a5a;
             line-height: normal;
         }
         h4 {
             color: #ff6c00;
             display: block;
             font-size: 15px;
         }
         .info {
             padding: 8px 0;
             span {
                 padding: 0 3px;
             }
         }
     }
     .content {
         .info1 {
             margin-bottom: 15px;
             .pic {
                 float: right;
                 padding: 12px;
                 img {
                     width: 120px;
                     height: 120px;
                 }
             }
             p {
                 font-size: 16px;
             }
             .p2 {
                 margin-top: 10px;
             }
             .img1 {
                 color: #606060;
                 word-break: break-all;
                 margin: 6px auto;
                 line-height: 1;
                 text-align: center;
                 img {
                     max-width: 100%;
                     height: auto;
                     vertical-align: middle;
                     border: 0;
                 }
             }
         }
         .go {
             //  margin-top: 30px;
             text-align: center;
             padding: 10px 30px;
             a {
                 color: #fff;
                 background-color: #ff9000;
                 height: 40px;
                 line-height: 40px;
                 width: 100%;
                 display: inline-block;
                 border-radius: 6px;
                 font-size: 14px;
             }
         }
     }
 }

 .comment {
     .tit {
         padding: 6px 8px;
         font-size: 16px;
         color: #000;
     }
     .reply {
         .form {
             border: 2px solid #ECEAE8;
             border-radius: 2px;
             padding: 4px 5px 0 4px;
             background-color: #fff;
             position: relative;
             width: 98%;
             margin: 0px auto;
             textarea {
                 width: 100%;
                 resize: none;
                 overflow-x: hidden;
                 overflow-y: auto;
                 border: none;
                 line-height: 22px;
                 font-size: 14px;
                 outline: 0;
                 color: #666;
                 height: 68px;
             }
             .ctrl {
                 background-color: #fbfbfb;
                 height: 36px;
                 margin-left: -4px;
                 border-top: solid 1px #f2f2f2;
                 input {
                     position: absolute;
                     right: -2px;
                     bottom: -2px;
                     background: #ff841d;
                     border: none;
                     border: 2px solid #ff841d;
                     border-left: none;
                     border-top: none;
                     padding: 0px;
                     width: 100px;
                     height: 39px;
                     color: #fff;
                     outline: 0;
                     border-radius: 0 0 2px 0;
                     font-size: 16px;
                 }
             }
         }
     }
     .list {
         li {
             padding: 18px 10px;
             background-color: #FFFFFF;
             .userimg {
                 width: 40px;
                 float: left;
                 overflow: hidden;
                 img {
                     width: 40px;
                     background-position: top;
                     border-radius: 20px;
                     height: 40px;
                 }
             }
             .con {
                 overflow: hidden;
                 padding-left: 10px;
                 .name {
                     margin-bottom: 6px;
                     .username {
                         color: #5997c0;
                         font-size: 13px !important;
                         float: left;
                     }
                     .time{
                        color: #999999;
                        font-size: 13px !important;
                        float: right;
                     }
                 }
                 .content{
                    font-size: 15px !important;
                    color: #606060;
                    line-height: 20px;
                 }
             }
         }
     }
 }

 footer {
     background-color: #f1f1f1;
     height: 38px;
     display: flex;
     >a {
         flex: 2;
         text-align: center;
         line-height: 38px;
         border-top: 1px solid #c4c4c4;
         border-bottom: 1px solid #c4c4c4;
         border-right: 1px solid #c4c4c4;
         color: #333333;
         .fa {
             font-size: 20px;
         }
     }
     a:nth-child(3) {
         flex: 3;
         border-right: none;
     }
 }

 .dow {
     padding: 10px 0;
     background-color: #efefef;
     p {
         text-align: center;
         a:nth-child(1) {
             color: #ff0000;
         }
     }
 }