@charset "UTF-8";
/* 初始化开始 */
@font-face {
  font-family: 'iconfont';
  src: url("../font/font_dzh/iconfont.eot");
  src: url("../font/font_dzh/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/font_dzh/iconfont.woff") format("woff"), url("../font/font_dzh/iconfont.ttf") format("truetype"), url("../font/font_dzh/iconfont.svg#iconfont") format("svg");
}

body {
  background-color: #f2f2f2;
}

/* 初始化结束 */
/* 头部部分开始 */
/* 头部部分开始 */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ff841d;
  color: #FFFFFF;
  height: 0.44rem;
  line-height: 0.44rem;
  padding: 0 0.08rem;
  color: #fff;
}

header .back {
  float: left;
}

header .back .iconfont {
  font-family: "iconfont" !important;
  font-size: .2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

header .download {
  float: right;
  width: .3rem;
}

header .download img {
  width: 100%;
}

header h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  float: left;
  text-align: center;
  font-size: 0.2rem;
  font-weight: bold;
}

/* 头部部分结束 */
/* 头部部分结束 */
/* footer部分开始 */
/* footer部分结束 */
/* 内容部分开始 */
.content {
  /* 导航部分开始 */
  /* 导航部分结束 */
  /* 标题部分开始 */
  /* 标题部分结束 */
}

.content .nav {
  height: 36px;
  background-color: #ebebeb;
  border-top: solid 1px #ebebeb;
  border-bottom: 1px solid #ccc;
  line-height: 36px;
  padding-left: 8px;
  font-size: 14px;
}

.content .nav .iconfont {
  font-family: "iconfont";
}

.content .nav p {
  display: inline;
}

.content h3 {
  font-size: 16px;
  color: #874604;
  height: 40px;
  padding-left: 10px;
  line-height: 40px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  background-color: #eee;
}

/* 哪个牌子好部分开始 */
.whichBrandNice li {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
}

.whichBrandNice li a {
  display: inline-block;
  width: 100%;
}

.whichBrandNice li a em {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  background: #c9c9c9;
  color: #FFFFFF;
  line-height: 20px;
  vertical-align: top;
  margin: 0 10px 0 0;
  font-size: 14px;
}

.whichBrandNice li a .secCon {
  display: inline-block;
}

.whichBrandNice li a .secCon h4 {
  font-style: normal;
  font-weight: 600;
}

.whichBrandNice li a .secCon p {
  font-size: 12px;
}

.whichBrandNice li a .iconfont {
  float: right;
  font-family: "iconfont";
  font-size: 24px;
}

.whichBrandNice li:first-child em {
  background-color: #f10e0e;
}

.whichBrandNice li:nth-child(2) em {
  background-color: #ff9314;
}

.whichBrandNice li:nth-child(3) em {
  background-color: #8adf5b;
}

/* 哪个牌子好部分结束 */
/* 产品销量排行部分开始 */
.sellRanking ul li {
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
}

.sellRanking ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sellRanking ul li a .pic {
  width: 100px;
  float: left;
  margin-right: 10px;
}

.sellRanking ul li a .pic img {
  width: 100px;
  height: 100px;
}

.sellRanking ul li a .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  line-height: 24px;
}

.sellRanking ul li a .info .title {
  color: #333333;
  line-height: 22px;
}

.sellRanking ul li a .info .price {
  display: inline-block;
  width: 100%;
}

.sellRanking ul li a .info .price em {
  font-size: 18px;
  color: #ea3900;
  float: left;
}

.sellRanking ul li a .info .price .star {
  float: right;
}

.sellRanking ul li a .info .price .star .iconfont {
  font-family: "iconfont";
  color: #0094FF;
}

.sellRanking ul li a .info .other {
  font-size: 12px;
  color: #999;
}

/* 产品销量排行部分结束 */
/* 最有用的用户评价部分开始 */
.goodHelpComment {
  padding: 0 10px;
}

.goodHelpComment .brandInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goodHelpComment .brandInfo .pic img {
  width: 80px;
  height: 80px;
}

.goodHelpComment .brandInfo p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  vertical-align: top;
  color: #999999;
  line-height: 22px;
  font-size: 14px;
  padding-left: 16px;
}

.goodHelpComment ul li {
  border-bottom: 1px solid #e7e7e7;
}

.goodHelpComment ul li .comment {
  background: #f8f8f8;
  padding: 10px;
  border: 1px solid #e7e7e7;
  position: relative;
  margin-top: 12px;
  padding-bottom: 12px;
}

.goodHelpComment ul li .comment::before {
  position: absolute;
  top: -8px;
  left: 29px;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 8px solid #f8f8f8;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.goodHelpComment ul li .comment .commentTitle {
  font-size: 14px;
}

.goodHelpComment ul li .comment .commentTitle .star .iconfont {
  font-family: "iconfont";
  color: #0094FF;
}

.goodHelpComment ul li .comment .commentTitle > i {
  color: #999999;
  float: right;
  font-style: normal;
}

.goodHelpComment ul li .comment .commentCon {
  color: #000000;
  margin-top: 10px;
  line-height: 22px;
  font-size: 15px;
}

.goodHelpComment ul li .comment .commentCon p {
  text-indent: 2em;
}

.goodHelpComment ul li .comment .comefrom {
  display: inline-block;
  position: absolute;
  right: 2px;
  bottom: 2px;
}

/* 最有用的用户评价部分结束 */
/* 内容部分结束 */
/* 按钮 */
.button {
  background: #efefef;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  height: 34px;
  line-height: 34px;
  margin-top: 25px;
}

.button a {
  display: block;
  float: left;
  font-size: 14px;
  border-right: 1px solid #c4c4c4;
  text-align: center;
  width: 30%;
}

.button .top {
  border-right: none;
  padding-left: 20px;
}

.button .top img {
  width: 15px;
  height: 15px;
  vertical-align: text-top;
}

/* 底部 */
footer {
  text-align: center;
  margin-top: 10px;
}

footer p a:nth-child(1) {
  color: red;
}
/*# sourceMappingURL=get10Top.css.map */