body {
  background-color: #f2f2f2;
}

.tier {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 66, 112, 0.9);
  z-index: 9999;
  display: none;
}

.tier .close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.tier .rhythmDown {
  position: absolute;
  bottom: 10%;
  left: 1%;
  width: 98%;
  height: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tier .rhythmDown i {
  width: 2px;
  height: 1px;
  background-color: #fff;
  border-radius: 10%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.tier .title {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #fff;
  line-height: 50px;
  margin: 15% 0 15%;
}

.tier ul {
  list-style: none;
}

.tier ul li {
  width: 100%;
  text-align: center;
  font-size: 22px;
  color: #fff;
  line-height: 22px;
  margin-bottom: 10%;
}

.tier .foucSearch {
  width: 50%;
  height: 35px;
  border: 1px solid #ccc;
  margin-top: 5%;
  margin-left: 25%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 14px;
}

.tier audio {
  position: fixed;
  top: -50px;
  left: -100px;
}

.entirety {
  width: 100%;
}

.entirety .main {
  width: 100%;
}

.entirety .main audio {
  position: fixed;
  left: -200px;
  bottom: -100px;
}

.entirety .main nav {
  height: 40px;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#eeeeee), to(#fdfdfd));
  background-image: linear-gradient(to top, #eeeeee, #fdfdfd);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.entirety .main nav .navigation {
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  color: #000;
  margin-left: 10px;
}

.entirety .main nav .navigation a {
  color: #000;
}

.entirety .main nav .filtrate {
  width: 10%;
  height: 26px;
  color: #000;
  line-height: 26px;
  text-align: center;
  margin: 6px 10px 0 0;
  -webkit-box-shadow: 1px 1px 2px #999,-2px 0px 2px #e2e2e5;
          box-shadow: 1px 1px 2px #999,-2px 0px 2px #e2e2e5;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e5e5e5), to(#faf8f8));
  background-image: linear-gradient(to bottom, #e5e5e5, #faf8f8);
}

.entirety .main .product_list {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
}

.entirety .main .product_list a {
  display: block;
}

.entirety .main .product_list a li {
  width: 100%;
  padding: 10px 2.5%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #edecec;
}

.entirety .main .product_list a li img {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.entirety .main .product_list a li .content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 120px;
}

.entirety .main .product_list a li .content h3 {
  font-weight: 500;
  color: #2f2f2f;
  font-size: 15px;
  line-height: 25px;
  height: 50px;
  overflow: hidden;
}

.entirety .main .product_list a li .content .price {
  color: #ee0000;
  font-size: 18px;
  margin-top: 4px;
}

.entirety .main .product_list a li .content .offer_comment {
  color: #adadad;
  font-size: 12px;
  margin-top: 10px;
}

.entirety .main .product_list a li .content .offer_comment span:nth-child(1) {
  margin-right: 7px;
}

.entirety .main .loading {
  margin: 10px auto 0;
  display: block;
  display: none;
  width: 45px;
  height: 45px;
}

@font-face {
  font-family: 'close';
  src: url("../../font/awfi/close/ficonfont.eot");
  src: url("../../font/awfi/close/iconfont.eot?#iefix") format("embedded-opentype"), url("../../font/awfi/close/iconfont.woff") format("woff"), url("../../font/awfi/close/iconfont.ttf") format("truetype"), url("../../font/awfi/close/iconfont.svg#iconfont") format("svg");
}

.iconfont {
  font-family: "close" !important;
  font-size: 35px;
  font-style: normal;
  color: #fff;
}
/*# sourceMappingURL=Prolist.css.map */